#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-45053b96-bf3d-44c4-9ab1-444e3cb31b6b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}