#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Category_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}