#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}