#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Group_1 {
  position: absolute;
  top: 230px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_1 input {
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #shapewrapper-s-Line_10 {
  display: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Group_2 {
  position: absolute;
  top: 301px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_5 input {
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_11 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_12 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #shapewrapper-s-Line_12 {
  display: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Group_3 {
  position: absolute;
  top: 378px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Input_6 input {
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_13 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_14 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #shapewrapper-s-Line_14 {
  display: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Group_4 {
  position: absolute;
  top: 461px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Category_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Category_1 .valign {
  width: 318px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_15 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Line_16 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #shapewrapper-s-Line_16 {
  display: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Text_1 {
  position: absolute;
  top: 567px;
  left: 184px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Text_1 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 359px;
  height: 184px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 #s-Image_3 {
  position: absolute;
  top: 41px;
  left: 33px;
  width: 288px;
  height: 551px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 15px 0px #404040;
  display: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-56806bfb-1b8f-4af2-b127-a63cb4d42844 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}