#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Icons_7 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Table_1 {
  border-collapse: separate;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=94);
  filter: alpha(opacity=94);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6624FB;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6624FB;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6624FB;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6624FB;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6624FB;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6624FB;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_5 {
  -ms-transform: rotate(270.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 107px;
  height: 26px;
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 107px;
  height: 26px;
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
#s-acd42067-7de5-4701-9135-81f8927c69f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}