#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Input_1 {
  position: absolute;
  top: 26px;
  left: 31px;
  padding-left: 5px;
  width: 273px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Input_1 textarea {
  color: #6624FB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 18.0pt;
  text-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_9 {
  position: absolute;
  top: 583px;
  left: 121px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_9 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_11 {
  position: absolute;
  top: 128px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_11 span {
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_2 {
  position: absolute;
  top: 518px;
  left: 41px;
  width: 246px;
  height: 42px;
  background-color: #6624FB;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Arial,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_3 {
  position: absolute;
  top: 365px;
  left: 111px;
  width: 106px;
  height: 103px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Group_2 {
  position: absolute;
  top: 160px;
  left: 30px;
  width: 263px;
  height: 31px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 258px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_1 .valign {
  width: 240px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_10 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_11 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #shapewrapper-s-Line_11 {
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_12 {
  position: absolute;
  top: 158px;
  left: 308px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_12 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 26.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Group_3 {
  position: absolute;
  top: 203px;
  left: 29px;
  width: 263px;
  height: 31px;
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 258px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_2 .valign {
  width: 240px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_12 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_13 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #shapewrapper-s-Line_13 {
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Group_4 {
  position: absolute;
  top: 249px;
  left: 30px;
  width: 263px;
  height: 31px;
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 258px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_7 .valign {
  width: 240px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_14 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_15 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #shapewrapper-s-Line_15 {
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Group_5 {
  position: absolute;
  top: 297px;
  left: 29px;
  width: 263px;
  height: 31px;
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 258px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  box-shadow: none;
  text-shadow: none;
  color: #6624FB;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Category_8 .valign {
  width: 240px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_16 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_17 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 263px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #shapewrapper-s-Line_17 {
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_13 {
  position: absolute;
  top: 201px;
  left: 308px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 26.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_13 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 26.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_14 {
  position: absolute;
  top: 247px;
  left: 308px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 26.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_14 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 26.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Group_6 {
  position: absolute;
  top: 160px;
  left: 19px;
  width: 323px;
  height: 191px;
  display: none;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 319px;
  height: 187px;
  background-color: #6624FB;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 12px 12px 12px 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_16 {
  position: absolute;
  top: 49px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_17 {
  position: absolute;
  top: 74px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_18 {
  position: absolute;
  top: 99px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_19 {
  position: absolute;
  top: 125px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_20 {
  position: absolute;
  top: 22px;
  left: 138px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_20 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_21 {
  position: absolute;
  top: 22px;
  left: 212px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Light,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_21 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_22 {
  position: absolute;
  top: 48px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_22 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_23 {
  position: absolute;
  top: 73px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_23 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_24 {
  position: absolute;
  top: 98px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_24 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_25 {
  position: absolute;
  top: 124px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_25 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_26 {
  position: absolute;
  top: 48px;
  left: 243px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_26 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_27 {
  position: absolute;
  top: 73px;
  left: 243px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_27 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_28 {
  position: absolute;
  top: 98px;
  left: 243px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_28 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_29 {
  position: absolute;
  top: 124px;
  left: 243px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_29 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_4 {
  position: absolute;
  top: 151px;
  left: 61px;
  width: 78px;
  height: 29px;
  background-color: #6624FB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_7 {
  position: absolute;
  top: 151px;
  left: 170px;
  width: 76px;
  height: 30px;
  background-color: #FAFAFA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_7 span {
  color: #6624FB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #6624FB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}