#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ddcdd4fb-2800-42ba-ba87-13360f3e7d15 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}